__pycache__/
autom4te.cache/
build/
dist/
libzfs.egg-info/
pxd/config.pxi
pxd/sendflags.pxi
pxd/spa_features.pxi
pxd/userquota_props.pxi
pxd/zpool_status.pxi
venv/
Makefile
config.log
config.status
config.h
config.py
*.c
*.html
